* Problem Statement

A Chinese automobile company Geely Auto aspires to enter the US market by setting up their manufacturing unit there and producing cars locally to give competition to their US and European counterparts.

They have contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know:

Which variables are significant in predicting the price of a car
How well those variables describe the price of a car
Based on various market surveys, the consulting firm has gathered a large data set of different types of cars across the America market.

* Business Goal

We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

In [1]:
import pandas as pd
import numpy as np

import datacleaning as dc

10000
    car_ID  symboling                    CarName fueltype aspiration  \
0        1          3         alfa-romero giulia      gas        std
1        2          3        alfa-romero stelvio      gas        std
2        3          1   alfa-romero Quadrifoglio      gas        std
3        4          2                audi 100 ls      gas        std
4        5          2                 audi 100ls      gas        std
5        6          2                   audi fox      gas        std
6        7          1                 audi 100ls      gas        std
7        8          1                  audi 5000      gas        std
8        9          1                  audi 4000      gas      turbo
9       10          0        audi 5000s (diesel)      gas      turbo
10      11          2                   bmw 320i      gas        std
11      12          0                   bmw 320i      gas        std
12      13          0                     bmw x1      gas        std
13      14          0                     bmw x3      gas        std
14      15          1                     bmw z4      gas        std
15      16          0                     bmw x4      gas        std
16      17          0                     bmw x5      gas        std
17      18          0                     bmw x3      gas        std
18      19          2           chevrolet impala      gas        std
19      20          1      chevrolet monte carlo      gas        std
20      21          0        chevrolet vega 2300      gas        std
21      22          1              dodge rampage      gas        std
22      23          1        dodge challenger se      gas        std
23      24          1                 dodge d200      gas      turbo
24      25          1          dodge monaco (sw)      gas        std
25      26          1         dodge colt hardtop      gas        std
26      27          1            dodge colt (sw)      gas        std
27      28          1       dodge coronet custom      gas      turbo
28      29         -1          dodge dart custom      gas        std
29      30          3  dodge coronet custom (sw)      gas      turbo

   doornumber      carbody drivewheel enginelocation  wheelbase  ...  \
0         two  convertible        rwd          front       88.6  ...
1         two  convertible        rwd          front       88.6  ...
2         two    hatchback        rwd          front       94.5  ...
3        four        sedan        fwd          front       99.8  ...
4        four        sedan        4wd          front       99.4  ...
5         two        sedan        fwd          front       99.8  ...
6        four        sedan        fwd          front      105.8  ...
7        four        wagon        fwd          front      105.8  ...
8        four        sedan        fwd          front      105.8  ...
9         two    hatchback        4wd          front       99.5  ...
10        two        sedan        rwd          front      101.2  ...
11       four        sedan        rwd          front      101.2  ...
12        two        sedan        rwd          front      101.2  ...
13       four        sedan        rwd          front      101.2  ...
14       four        sedan        rwd          front      103.5  ...
15       four        sedan        rwd          front      103.5  ...
16        two        sedan        rwd          front      103.5  ...
17       four        sedan        rwd          front      110.0  ...
18        two    hatchback        fwd          front       88.4  ...
19        two    hatchback        fwd          front       94.5  ...
20       four        sedan        fwd          front       94.5  ...
21        two    hatchback        fwd          front       93.7  ...
22        two    hatchback        fwd          front       93.7  ...
23        two    hatchback        fwd          front       93.7  ...
24       four    hatchback        fwd          front       93.7  ...
25       four        sedan        fwd          front       93.7  ...
26       four        sedan        fwd          front       93.7  ...
27        two        sedan        fwd          front       93.7  ...
28       four        wagon        fwd          front      103.3  ...
29        two    hatchback        fwd          front       95.9  ...

    enginesize  fuelsystem  boreratio  stroke compressionratio horsepower  \
0          130        mpfi       3.47    2.68             9.00        111
1          130        mpfi       3.47    2.68             9.00        111
2          152        mpfi       2.68    3.47             9.00        154
3          109        mpfi       3.19    3.40            10.00        102
4          136        mpfi       3.19    3.40             8.00        115
5          136        mpfi       3.19    3.40             8.50        110
6          136        mpfi       3.19    3.40             8.50        110
7          136        mpfi       3.19    3.40             8.50        110
8          131        mpfi       3.13    3.40             8.30        140
9          131        mpfi       3.13    3.40             7.00        160
10         108        mpfi       3.50    2.80             8.80        101
11         108        mpfi       3.50    2.80             8.80        101
12         164        mpfi       3.31    3.19             9.00        121
13         164        mpfi       3.31    3.19             9.00        121
14         164        mpfi       3.31    3.19             9.00        121
15         209        mpfi       3.62    3.39             8.00        182
16         209        mpfi       3.62    3.39             8.00        182
17         209        mpfi       3.62    3.39             8.00        182
18          61        2bbl       2.91    3.03             9.50         48
19          90        2bbl       3.03    3.11             9.60         70
20          90        2bbl       3.03    3.11             9.60         70
21          90        2bbl       2.97    3.23             9.41         68
22          90        2bbl       2.97    3.23             9.40         68
23          98        mpfi       3.03    3.39             7.60        102
24          90        2bbl       2.97    3.23             9.40         68
25          90        2bbl       2.97    3.23             9.40         68
26          90        2bbl       2.97    3.23             9.40         68
27          98        mpfi       3.03    3.39             7.60        102
28         122        2bbl       3.34    3.46             8.50         88
29         156         mfi       3.60    3.90             7.00        145

    peakrpm citympg  highwaympg      price
0      5000      21          27  13495.000
1      5000      21          27  16500.000
2      5000      19          26  16500.000
3      5500      24          30  13950.000
4      5500      18          22  17450.000
5      5500      19          25  15250.000
6      5500      19          25  17710.000
7      5500      19          25  18920.000
8      5500      17          20  23875.000
9      5500      16          22  17859.167
10     5800      23          29  16430.000
11     5800      23          29  16925.000
12     4250      21          28  20970.000
13     4250      21          28  21105.000
14     4250      20          25  24565.000
15     5400      16          22  30760.000
16     5400      16          22  41315.000
17     5400      15          20  36880.000
18     5100      47          53   5151.000
19     5400      38          43   6295.000
20     5400      38          43   6575.000
21     5500      37          41   5572.000
22     5500      31          38   6377.000
23     5500      24          30   7957.000
24     5500      31          38   6229.000
25     5500      31          38   6692.000
26     5500      31          38   7609.000
27     5500      24          30   8558.000
28     5000      24          30   8921.000
29     5000      19          24  12964.000

[30 rows x 26 columns]

In [2]:
df = pd.read_csv('datasets_383055_741735_CarPrice_Assignment.csv')

In [17]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [4]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
pd.set_option('display.max_columns', 40)

In [6]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [7]:
df['carbody'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [12]:
lambda x: 1 if x is 'convertible'

SyntaxError: invalid syntax (<ipython-input-12-903af773972e>, line 1)

In [15]:
df['carbody'].replace({'convertible': 1, 'hatchback': 2, 'sedan': 3, 'wagon': 4, 'hardtop': 5}, inplace = True)

In [16]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,1,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,1,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,2,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,3,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,3,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
df = df[['wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight']]

In [12]:
df.head()

   wheelbase  carlength  carwidth  carheight  curbweight
0       88.6      168.8      64.1       48.8        2548
1       88.6      168.8      64.1       48.8        2548
2       94.5      171.2      65.5       52.4        2823
3       99.8      176.6      66.2       54.3        2337
4       99.4      176.6      66.4       54.3        2824

In [1]:
from sklearn.preprocessing import StandardScaler as SC
from sklearn.preprocessing import Normalizer as NM

In [14]:
df.describe()

        wheelbase   carlength    carwidth   carheight   curbweight
count  205.000000  205.000000  205.000000  205.000000   205.000000
mean    98.756585  174.049268   65.907805   53.724878  2555.565854
std      6.021776   12.337289    2.145204    2.443522   520.680204
min     86.600000  141.100000   60.300000   47.800000  1488.000000
25%     94.500000  166.300000   64.100000   52.000000  2145.000000
50%     97.000000  173.200000   65.500000   54.100000  2414.000000
75%    102.400000  183.100000   66.900000   55.500000  2935.000000
max    120.900000  208.100000   72.300000   59.800000  4066.000000

In [10]:
sc = SC()

In [11]:
sc.fit_transform(df)

array([[-1.6907718 , -0.42652147, -0.84478235, -2.0204173 , -0.01456628],
       [-1.6907718 , -0.42652147, -0.84478235, -2.0204173 , -0.01456628],
       [-0.70859588, -0.23151305, -0.19056612, -0.54352748,  0.51488192],
       ...,
       [ 1.72187336,  1.19854871,  1.39824472,  0.72823876,  0.87875722],
       [ 1.72187336,  1.19854871,  1.39824472,  0.72823876,  1.27343679],
       [ 1.72187336,  1.19854871,  1.39824472,  0.72823876,  0.97502053]])

In [20]:
df['carbody'] = df['carbody'].apply(LabelEncoder)

In [21]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,1,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,1,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,2,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,3,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,3,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [24]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [25]:
df.describe()

,car_ID,symboling,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.00000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,2.80000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,0.83666,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,1.00000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,2.00000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,3.00000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,3.00000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,5.00000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [26]:
from sklearn.metrics import confusion_matrix

In [30]:
y_true = ["cat", "ant", "cat", "cat", "ant"]
y_pred = ["ant", "ant", "cat", "cat", "ant"]
confusion_matrix(y_true, y_pred, labels=["ant", "cat"])

array([[2, 0],
       [1, 2]], dtype=int64)

In [ ]:
cm = confusion_matrix(y_pred, y_test)